version: 2.1

jobs:
  build:
    docker:
      - image: cimg/base:stable   
    steps:                         
      - checkout
      - run:
          name: Test
          command: echo "Hello"
          
workflows:
  workflow:
    jobs:
      - build
